.App {
  text-align: left;
}
.navbar-nav {
  align-items: center;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

.inLine {
  display: flex;
}
.registerBtn {
  margin-left: 10px;
  padding: 3px;
}
.tips {
  font-style: italic;
}
.container {
  margin-bottom: 50px;
}
